/*
   Archivo: styles.css
   Descripción:
   Se estiliza el canvas agregando:
   - Fondo azul muy bajo
   - Borde azul marino
   - Esquinas redondeadas
   - Sombra azul claro
   - Centrado en pantalla
*/

#canvas {
    background-color: #9cb2c4;     /* Azul muy bajo (más suave) */
    border: 4px solid #001429;     /* Azul marino */
    border-radius: 5px;           /* Orillas redondeadas */
    box-shadow: 0px 8px 20px rgba(60, 127, 150, 0.6); /* Sombra azul claro */
    display: block;
    margin: 30px auto;
}